<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="YUICompressor.NET" version="1.5.0.0" />
  <package id="Codaxy.Common" version="0.5.3" />
  <package id="Codaxy.Dextop.Core" version="0.7.3" />
  <package id="Codaxy.Dextop" version="0.7.0" />
</packages>